
.wrapper{
    padding: 2rem;
    border-radius: 15px;
  }
  .resume-title{
    font-size: 1.5rem;
    font-family: sans-serif;

  }
  .resume-title .resume-title-icon{
    margin-right: .2rem;
    
  }
  .sessions{
    margin-top: 1.8rem;
    border-radius: 12px;
    position: relative;
  }
  .sessions li{
    padding-bottom: 1rem;
    border-left: 2px solid rgb(33, 150, 243);
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
    list-style: none;
  }
  li:before{
    content: '';
    width: 25px;
    height: 25px;
    background: white;
    border: 2px solid rgb(33, 150, 243);
    /* box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8; */
    border-radius: 50%;
    position: absolute;
    left: -14px;
    top: 0px;
  }
  li:last-child{
    border: 0px;
    padding-bottom: 0;
  }
  .time{
    color: #2a2839;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    /* @include mobile-and-up{
      font-size: .9rem;
    }
    @include mobile-only{
      margin-bottom: .3rem;
      font-size: 0.85rem;
    } */
  
  }
  p{
    color: #4f4f4f;
        font-family: sans-serif;
    line-height: 1.5;
    margin-top:0.4rem;
    /* @include mobile-only{
      font-size: .9rem;
    } */
  }