.use-technology .tech-icon{
    font-size: 40px;

    margin: 5px;
    color: #fff;
    padding: 4px;
    border-radius: 60px;
    background-color: rgb(33, 150, 243);
}
.use-technology .tech-icon:hover{
    transform: scale(1.2);
}
.use-technology{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
    padding-top: 5px;
    border-top: 1px dashed gray;
}
.use-technology .tech-item{
    font-size: 18px;
    margin: 5px;
    color: rgb(33, 150, 243);
    padding: 4px 15px;
    border-radius: 60px;
    background-color: #E3E3E3;
}
.element-bottom{
    display: flex;
    justify-content: center;
}
.element-bottom a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    background-color: rgb(33, 150, 243);
    border-radius: 5px;
    margin: 0 5px;
    transition: transform 0.3s ease;
}
.element-bottom a:hover{
    transform: scale(1.05);
}
.element-bottom .element-bottom-icon{
    margin-right: 5px;
    font-size: 25px;
}